.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.menu li {
    float: left;
    padding: 4px;
}

.menu li a {
    display: block;
    background-color: black;
    color: white;
    padding: 12px 25px;
    text-decoration: none;
    text-align: center;
}

.menu li a:hover {
    background-color: grey;
}
